
 .hero{
  background-image: url("./assets/Hero\ Image.png");
  background-repeat: no-repeat;
  background-size: cover;
   background-position: center;
   }

   /* @media (min-width:1196px){
    .popularDestination{
        justify-content: center;
    }
   }
   @media (min-width:1400px){
    .featuredStay{
        justify-content: center;
    }
   } */